* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.container-content {
  width: 100%;
}

.container-content .content-header {
  background-color: #000957;
  width: 100%;
  text-align: center;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  padding-top: 20px;
}

.container-balance {
  display: flex;
}

.currency {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 70px;
}

.balance {
  font-weight: 700;
  font-size: 4rem;
}

.container-tag {
  font-size: 1.2rem;
}

.container-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
}
